<p style="color: green"><%= notice %></p>

<h1>Exercises</h1>

<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Shared By</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @exercises.each do |exercise| %>
            <%= render exercise %>
        <% end %>
    </tbody>
</table>

<%= button_to "New exercise", new_exercise_path, method: :get, data: { turbo_frame: "exercise_modal"}, class:"btn btn-primary" %>
